@import 'tailwindcss';

:root {
  --background: #edf1f3;
  --foreground: #171717;
  --padding-slide: 4;
  --h-gap-slide: 3;
  --v-gap-slide: 2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --spacing-padding-slide: calc(var(--padding-slide) * 1cqw);
  --spacing-h-gap-slide: calc(var(--h-gap-slide) * 1cqw);
  --spacing-v-gap-slide: calc(var(--v-gap-slide) * 1cqw);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist', sans-serif;
}
